{{ block "footer" . }}
<footer>
    <div>
        <small>{{ .Labels.FooterContent }} </small>
    </div>
    <div class="theme-button-container">
        {{ template "theme-button" . }}
    </div>
</footer>
<style>
    body > footer {
        text-align: left;
        padding: 5px 10px;
        font-size: 0.8em;
        color: var(--pico-color);
    }

    footer > small > a {
        text-decoration: none;
    }

    footer > div {
        display: inline-block;
    }

    .theme-button-container {
        float: right;
    }
</style>
{{ end }}