{{ block "index" . }}
<!DOCTYPE html>
{{ template "heading" .}}

<body x-data="wishlistData()" x-bind:data-theme="isDarkMode ? 'dark' : 'light'">
  {{ template "top-bar" .}}
  <div class="main-container">
    <div class="gift-cap gift-cap-opened" x-on:click="toggleForm()">
      <div class="gift-tape-2"></div>
      <div class="gift-tape-1"></div>
      <div class="gift-cap-base"></div>
      <div class="gift-cap-tape"></div>
    </div>
    <div class="list-container">
      {{ template "wishlist-form" .}}
    </div>
  </div>
  <script>
    const capDiv = document.getElementsByClassName("gift-cap")[0];
    const listContainer = document.getElementsByClassName("list-container")[0];

    function wishlistData() {
      return {
        isDarkMode: Alpine.$persist(false),
        toggleTheme() {
          this.darkMode = !this.darkMode;
        },
        setFormAsCreating() {
          this.isCreating = true;
          capDiv.classList.add("gift-cap-opened");
        },
        isCreating: true,
        toggleForm() {
          capDiv.classList.remove("gift-cap-opened");
          const form = document.querySelector("form");
          form.requestSubmit();
        },
        onFormReopen() {
          capDiv.classList.add("gift-cap-opened");
        },
        onFormSubmit() {
          capDiv.classList.remove("gift-cap-opened");
        },
      };
    }
  </script>
</body>
{{ end }}