{{ block "top-bar-manage" .}}
<header>
  <nav>
    <ul>
      {{ template "app-title" . }}
    </ul>
    <ul class="edge-navbar-options">
      <li>
        <button x-show="isCreating && isSaveEnabled" class="secondary save-button" x-on:click="toggleForm()">{{ .Labels.SaveButtonTitle }}</button>
        {{ if .HasId}}
          <button x-show="!isCreating" class="secondary save-button" x-on:click="setFormAsCreating()">{{ .Labels.EditButtonTitle }}</button>
        {{ end }}
      </li>
      <li>
        {{ template "language-select" . }}
      </li>

    </ul>
  </nav>
  {{ template "cookie-consent" .}}
</header>
<style>
  .save-button {
    z-index: 32;
  }
</style>
{{ end }}


{{ block "top-bar" .}}
<header>
  <nav>
    <ul>
      {{ template "app-title" . }}
    </ul>
    <ul class="edge-navbar-options">
      <li>
        {{ template "language-select" . }}
      </li>
    </ul>
  </nav>
  {{ template "cookie-consent" .}}
</header>
{{ end }}


{{ block "app-title" . }}
  <li>
    <a href="/" class="secondary">
      <strong>Wish!</strong>
    </a>
  </li>
  <style>
    li a:hover {
      text-decoration: none;
    }
  </style>
{{ end }}

{{ block "theme-button" . }}
  <div
    class="secondary theme-button"
    x-on:click="isDarkMode = !isDarkMode"
  >
    <svg
      x-show="!isDarkMode"
      class="w-6 h-6 text-gray-800 dark:text-white dark-theme-svg"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"
      />
    </svg>
    <svg
      x-show="isDarkMode"
      class="w-[23px] h-[23px] text-gray-800 dark:text-white light-theme-svg"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2.1"
        d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
      />
    </svg>
  </div>
{{ end }}

{{ block "language-select" . }}
<div x-data="getLanguageData()" >
  <select x-model="selectedLanguage" @change="onLanguageSelected($event.target.value)">
    {{ range .Labels.Languages }}
      <option value="{{ .Code }}" >{{ .Language }}</option>
    {{ end }}
  </select>
</div>
<script>
  function getLanguageData () {
    return {
      selectedLanguage: "{{ .Labels.SelectedLanguage }}",
      onLanguageSelected(language) {
        setCookie("lang", language, 365);
        window.location.reload();
      }
    }
  }
</script>
{{ end }}