
{{ block "wishlist-form" . }}
<form 
  x-data="wishlistFormData()"
  {{ if .HasId }}
  hx-put="/wishlist/{{ .Id }}"
  {{ else }}
  hx-post="/wishlist"
  {{ end }}
  @htmx:before-request.camel="onFormSubmit()" 
  hx-swap="outerHTML"
>
  <div class="list-inputs" x-init="initializeFormValues()">
    <template x-for="(input, index) in inputs" :key="index" x-effect="inputs && $nextTick(() => initializeSpanWidths())">
      <div class="input-row">
        <span :class="{'invisible': !input}" x-text="(index + 1) + '.'"> </span>
        <div class="input-container">
          <input :disabled="!isCreating" :id="'input-' + index" x-model="inputs[index]" x-on:input="resizeInput($event, index)"
            x-on:keydown.enter.prevent="focusOnNextInputElement(index)"
            x-on:keydown.backspace="removeIfAlreadyEmpty(index)" :name="'item' + index" type="text"
            placeholder="Start typing..." />
          <span :id="'input-hidden-span-' + index" class="hidden-span"></span>
        </div>
      </div>
    </template>
  </div>
  {{ if .HasId }}
    {{ template "wishlist-share-link" . }}
  {{ end }}
  <script>
    function wishlistFormData() {
      return {
        inputs: [],
        inputLengths: [],
        initializeFormValues() {
            {{ if .HasItems }}
              this.inputs = [
                {{ range .Items }}
                  "{{ .Text }}",
                {{ end }}
              ];
              this.isCreating = false;
            {{ else}}
              this.inputs = [""];
              this.isCreating = true;
            {{ end }}
            this.inputLengths = [0];
            this.$watch('isCreating', value => { 
              if (value) {
                if (this.inputs[-1] !== "") {
                  this.addInput();
                }
              }
            });
        },
        initializeSpanWidths() {
          for (let i = 0; i < this.inputs.length; i++) {
            const input = document.getElementById("input-" + i);
            this.updateInputTextWidth(i, this.inputs[i], input);
          }
        },
        focusOnNextInputElement(index) {
          const nextInput = document.getElementById("input-" + (index + 1));
          if (nextInput) {
            nextInput.focus();
          }
        },
        removeIfAlreadyEmpty(index) {
          if (this.inputs[index].trim() !== "") {
            return;
          }
    
          if (index === this.inputs.length - 1) {
            return;
          }
    
          this.inputs.splice(index, 1);
        },
        resizeInput(event, index) {
          const input = event.target;
          this.updateInputTextWidth(index, input.value, input);
          const maxWidth = Math.max(...Object.values(this.inputLengths));
          const targetWidth = maxWidth + 120;
          listContainer.style.width = `${targetWidth}px`;
          capDiv.style.width = `${targetWidth + 70}px`;
    
          if (this.inputs[index].trim() === "" && this.inputs.length > 1) {
            this.inputs.splice(index, 1);
            this.inputLengths.splice(index, 1);
          } else if (this.inputs.length === index + 1) {
            this.addInput();
          }
        },
        updateInputTextWidth(index, value, input) {
          const hiddenSpan = document.getElementById(
            "input-hidden-span-" + index
          );
          hiddenSpan.textContent = value;
          const computedStyle = window.getComputedStyle(input);
          hiddenSpan.style.fontSize = computedStyle.fontSize;
          hiddenSpan.style.fontFamily = computedStyle.fontFamily;
          hiddenSpan.style.fontWeight = computedStyle.fontWeight;
          hiddenSpan.style.letterSpacing = computedStyle.letterSpacing;
          hiddenSpan.style.textTransform = computedStyle.textTransform;
          this.inputLengths[index] = hiddenSpan.offsetWidth;
        },
        addInput() {
          this.inputs.push("");
          this.inputLengths.push(0);
        },
        copyToClipboard(text) {
          navigator.clipboard.writeText(text);
        },
      };
    }
    </script>
</form>

{{ end }}


{{ block "wishlist-share-link" . }}
<fieldset role="group" class="wishlist-link">
  <input type="text" disabled value="http://localhost:1323/wishlist/{{ .Id }}" />
  <button class="secondary clipboard-button"
    x-on:click.prevent="copyToClipboard('http://localhost:1323/wishlist/{{ .Id }}')">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24" stroke-width="1.5"
      stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
    </svg>
  </button>
</fieldset>
{{ end }}