{{ block "wishlist" . }}
<!DOCTYPE html>
{{ template "heading" .}}
<body x-data="wishlistData()" x-bind:data-theme="isDarkMode ? 'dark' : 'light'">
  {{ template "top-bar" .}}

  <main>
    <div class="main-container">
      <div class="gift-cap">
        <div class="gift-tape-2"></div>
        <div class="gift-tape-1"></div>
        <div class="gift-cap-base"></div>
        <div class="gift-cap-tape"></div>
      </div>
      <div class="list-container">
        {{ range .Items }}
        <p>{{ .Index }}. {{ .Text }}</p>
        {{ end }}
      </div>
    </div>
  </main>
</body>

<script>
  function wishlistData() {
    return {
      isDarkMode: Alpine.$persist(false),
      toggleTheme() {
        this.darkMode = !this.darkMode;
      },
    };
  }
</script>

{{ end }}
