
{{ block "wishlist-form" . }}
<form 
  x-data="wishlistFormData()"
  {{ if .HasId }}
  hx-put="/wishlist/{{ .Id }}"
  {{ else }}
  hx-post="/wishlist"
  {{ end }}
  @wishlist-created="onWishlistCreated($event)"
  hx-swap="outerHTML"
  autocomplete="off" 
>
  {{ range .ValidationErrors.Errors }}
    <small class="form-validation-error">
      {{ . }}
    </small>
  {{ end }}
  <div class="list-inputs" x-init="initializeFormValues()">
    <template x-for="(item, index) in wishlistItems" :key="index" x-effect="wishlistItems && $nextTick(() => initializeSpanWidths())">
      <div class="input-row">
        <div class="input-container">
          <input 
            :disabled="!isCreating || item.AlreadyChecked" 
            :id="'input-' + index"
            :class="{'crossed-text':  item.AlreadyChecked}" 
            x-model="item.Text" 
            x-on:input="onInput($event, index)"
            x-on:keydown.enter.prevent="focusOnNextInputElement(index)"
            x-on:keydown.backspace="removeIfAlreadyEmpty(index)" 
            :name="item.HasId === false ? 'item' : 'item-' + item.Id" 
            type="text"
            :placeholder="index === 0 ? '1. {{ .Labels.WishlistItemPlaceholder }}' : '{{ .Labels.WishlistItemPlaceholder }}'"
            :aria-invalid="fieldValidationErrors && fieldValidationErrors[item.Text] ? 'true' : ''"
            :aria-describedby="'invalid-helper' + index" />
          <small :id="'invalid-helper' + index" x-show="fieldValidationErrors"
            x-text="fieldValidationErrors && fieldValidationErrors[item.Text]"></small>
          <span :id="'input-hidden-span-' + index" class="hidden-span" x-text="item.Text"></span>
        </div>
      </div>
    </template>
  </div>
  <script>
    function wishlistFormData() {
      return {
        {{ if .HasItems }}
        wishlistItems: {{ .Items }},
        {{ else }}
        wishlistItems: Alpine.$persist([]),
        {{ end }}
        inputLengths: [],
        fieldValidationErrors: {{ .ValidationErrors.FieldErrors }},
        formValidationErrors: {{ .ValidationErrors.Errors }},
        initializeFormValues() {
        {{ if .HasItems }}
          this.isSaveEnabled = true;
          if (this.anyValidationErrors()) {
            this.isCreating = true;
            this.addInput();
          } else {
            this.isCreating = false;
          }
          this.wishlistId = {{ .Id }};
        {{ else }}
          if (this.wishlistItems.length === 0 || this.wishlistItems[this.wishlistItems.length - 1].Text !== "") {
            this.addInput();
          }
          this.isCreating = true;
          this.isSaveEnabled = this.validateForm();
         {{ end }}
          this.$watch('isCreating', value => { 
            if (value) {
              if (this.wishlistItems[this.wishlistItems.length - 1].Text !== "") {
                this.addInput();
              }
            }
          });
        },
        anyValidationErrors() {
          return Object.keys(this.fieldValidationErrors).length > 0 || Object.keys(this.formValidationErrors).length > 0;
        },
        initializeSpanWidths() {
          for (let i = 0; i < this.wishlistItems.length; i++) {
            const input = document.getElementById("input-" + i);
            this.updateInputTextWidth(i, this.wishlistItems[i], input);
          }
          const maxWidth = Math.max(...Object.values(this.inputLengths));
          const targetWidth = maxWidth + 120;
          listContainer.style.width = `${targetWidth}px`;
          capDiv.style.width = `${targetWidth + 70}px`;
        },
        focusOnNextInputElement(index) {
          const nextInput = document.getElementById("input-" + (index + 1));
          if (nextInput) {
            nextInput.focus();
          }
        },
        focusOnPreviousInputElement(index) {
          const previousInput = document.getElementById("input-" + (index - 1));
          if (previousInput) {
            previousInput.focus();
          }
        },
        removeIfAlreadyEmpty(index) {
          if (this.wishlistItems[index].Text.trim() !== "") {
            return;
          }
    
          if (index === this.wishlistItems.length - 1) {
            this.focusOnPreviousInputElement(index);
            return;
          }

          if (this.fieldValidationErrors[index + ""]) {
            delete this.fieldValidationErrors[index + ""];
          }
    
          this.wishlistItems.splice(index, 1);
        },
        onInput(event, index) {
          this.isSaveEnabled = this.validateForm();
          const input = event.target;
          this.resizeInput(input, index);

          if (this.wishlistItems[index].Text.trim() === "" && this.wishlistItems.length > 1) {
            this.wishlistItems.splice(index, 1);
            this.inputLengths.splice(index, 1);
          } else if (this.wishlistItems.length === index + 1) {
            this.addInput();
          }
        },
        validateForm() {
          return this.wishlistItems.some(input => input.Text.trim() !== "");
        },
        onWishlistCreated(event) {
          wishlistId = event.detail.value;
          this.wishlistItems.splice(0, this.wishlistItems.length);
          setTimeout(() => {
            window.location.href = `/wishlist/${wishlistId}`;
          }, 500);
        },
        resizeInput(input, index) {
          this.updateInputTextWidth(index, input.value, input);
          const maxWidth = Math.max(...Object.values(this.inputLengths));
          const targetWidth = maxWidth + 120;
          listContainer.style.width = `${targetWidth}px`;
          capDiv.style.width = `${targetWidth + 70}px`;
        },
        updateInputTextWidth(index, value, input) {
          const hiddenSpan = document.getElementById(
            "input-hidden-span-" + index
          );
          const computedStyle = window.getComputedStyle(input);
          hiddenSpan.style.fontSize = computedStyle.fontSize;
          hiddenSpan.style.fontFamily = computedStyle.fontFamily;
          hiddenSpan.style.fontWeight = computedStyle.fontWeight;
          hiddenSpan.style.letterSpacing = computedStyle.letterSpacing;
          hiddenSpan.style.textTransform = computedStyle.textTransform;
          this.inputLengths[index] = hiddenSpan.offsetWidth;
        },
        addInput() {
          this.wishlistItems.push({
            Text: "",
            Id: undefined,
            AlreadyChecked: false,
            HasId: false
          });
          this.inputLengths.push(0);
        }
      };
    }
    </script>
    <style>
      .form-validation-error {
        color: var(--pico-del-color);
        text-align: center;
        display: block;
        margin-bottom: 5px;
      }
    </style>
</form>

{{ end }}